# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
black_friday.shape

(537577, 12)

In [5]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [6]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [7]:
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [8]:
byage = black_friday[black_friday.Age == '26-35']
bygender = byage[byage.Gender == 'F']
bygender.User_ID.count()

49348

In [9]:
bygenderage = black_friday[(black_friday['Gender']  == 'F') & (black_friday['Age'] == '26-35')]

In [10]:
bygenderage.User_ID.nunique()

545

In [11]:
black_friday.User_ID.nunique()

5891

In [12]:
black_friday.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [13]:
black_friday.dtypes.nunique()

3

In [14]:
type(black_friday.isnull().sum().max())

int

In [15]:
nulls = black_friday.isna().sum(axis = 1)

In [16]:
sum(nulls > 0) / len(black_friday.User_ID)

0.6944102891306734

In [17]:
black_friday.User_ID.count()

537577

In [18]:
len(black_friday.User_ID)

537577

In [19]:
sum((black_friday.isna().sum(axis = 1)) > 0) / len(black_friday.User_ID)

0.6944102891306734

In [20]:
black_friday[(black_friday['Gender']  == 'F') & (black_friday['Age'] == '26-35')].User_ID.count()

49348

In [21]:
x = float(black_friday['Product_Category_3'].dropna().mode().iloc[0])

In [22]:
type(x)

float

In [23]:
x = black_friday['Purchase']
x

0          8370
1         15200
2          1422
3          1057
4          7969
          ...
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64

In [24]:
x.min()

185

In [25]:
x.max()

23961

In [26]:
onlypurchase = black_friday['Purchase']
norm = (onlypurchase - onlypurchase.min()) / (onlypurchase.max() - onlypurchase.min())
norm

0         0.344255
1         0.631519
2         0.052027
3         0.036676
4         0.327389
            ...
537572    0.482798
537573    0.799588
537574    0.330501
537575    0.293868
537576    0.281376
Name: Purchase, Length: 537577, dtype: float64

In [27]:
onlypurchase = black_friday['Purchase']
pad = (onlypurchase - onlypurchase.mean()) / onlypurchase.std()
x = ((pad >= -1) & (pad <= 1)).count()
x

537577

In [28]:
onlypurchase = black_friday['Purchase']
pad = (onlypurchase - onlypurchase.mean()) / onlypurchase.std()
x = ((pad >= -1) & (pad <= 1)).sum()
x

348631

In [29]:
black_friday['Product_Category_2'].isnull().equals(black_friday['Product_Category_3'].isnull())

False

In [30]:
x = black_friday[['Product_Category_2', 'Product_Category_3']]
x1 = x[x['Product_Category_2'].isna()]
x2 = x1['Product_Category_2'].equals(x1['Product_Category_3'])
x2

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [31]:
def q1():
    q1 = black_friday.shape
    return q1

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [32]:
def q2():
    q2 = black_friday[(black_friday['Gender']  == 'F') & (black_friday['Age'] == '26-35')].User_ID.count()
    return int(q2)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [33]:
def q3():
    q3 = black_friday.User_ID.nunique()
    return q3

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [34]:
def q4():
    q4 = black_friday.dtypes.nunique()
    return q4

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [35]:
def q5():
    q5 = sum((black_friday.isna().sum(axis = 1)) > 0) / len(black_friday.User_ID)
    return q5

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [36]:
def q6():
    q6 = max(black_friday.isnull().sum())
    return q6

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [42]:
def q7():
    q7 = black_friday['Product_Category_3'].dropna().mode().iloc[0]
    return float(q7)
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [38]:
def q8():
    onlypurchase = black_friday['Purchase']
    q8 = ((onlypurchase - onlypurchase.min()) / (onlypurchase.max() - onlypurchase.min())).mean()
    return float(q8)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [39]:
def q9():
    onlypurchase = black_friday['Purchase']
    pad = (onlypurchase - onlypurchase.mean()) / onlypurchase.std()
    q9 = ((pad >= -1) & (pad <= 1)).sum()
    return int(q9)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [40]:
def q10():
    nulls = black_friday[['Product_Category_2', 'Product_Category_3']]
    cat2null = nulls[nulls['Product_Category_2'].isna()]
    q10 = cat2null['Product_Category_2'].equals(cat2null['Product_Category_3'])
    return q10